@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Silkscreen:wght@400;700&display=swap');

/**************************************GENERAL CONFIGS*****************************************/
:root {
  --red: #e02948;
  --white: #ffff;
  --black: #13151b;
  --gray: #f6f7f9;
  --gray2: #D9D9D9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.col {
  width: 100%;
  padding: 2%;
}

/************************************************HEADER****************************************/
header a {
  color: var(--black);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "hamburguer_nav logo shortcuts"
    "search search search"
    "shortcuts_nav shortcuts_nav shortcuts_nav";
  justify-items: center;
  align-items: center;
  padding-top: 2%;
}

header .logo {
  grid-area: logo;
  justify-self: center;
  margin-right: 30px;
}

header .search {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: search;
}

header .search input {
  width: inherit;
  border-radius: 32px;
  border: none;
  background-color: var(--gray);
  padding: 9px;
  height: inherit;
}

header .search input::placeholder {
  position: absolute;
  left: 50px;
}

header .search img {
  position: absolute;
  left: 20px;
  top: calc(50% - 12.5px);
}

header #hamburguer_nav {
  grid-area: hamburguer_nav;
}

header #shortcuts_nav {
  grid-area: shortcuts_nav;
}

header .shortcuts {
  grid-area: shortcuts;
  margin-left: 30px;
}

header .logo img {
  width: 120px;
  height: 120px;
}

header #hamburguer_nav label {
  cursor: pointer;
}

header .highlight {
  color: var(--red);
  font-weight: 900;
}

/*************************************Hamburguer Nav******************************************/
header #hamburguer_nav ul {
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  opacity: 0;
  display: none;
  height: 100%;
  background-color: var(--white);
  overflow-y: scroll;
  width: 100%;
}

#hamburguer_nav {
  background-color: var(--black);
  border-radius: 25px;
  padding: 10px;
}


header #hamburguer_nav ul li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 0 0 4rem;
}

header #shortcuts_nav ul li {
  padding: 10px;
  border-radius: 32px;
}

header #shortcuts_nav ul li:hover {
  background-color: #f6f7f9;
}

header #hamburguer_nav ul li a:hover {
  color: var(--red);
  transform: translateX(10px);
  transition: 0.2s;
}

header #hamburguer_nav ul li a b:hover {
  color: var(--black);
  transform: translateX(10px);
  transition: 0.2s;
}

header #hamburguer_nav .hamburguer {
  position: relative;
  background: url("/Project/assets/shared/icon-hamburger.svg") no-repeat;
  width: 24px;
  height: 24px;
  z-index: 2;
}

header #hamburguer_nav #hamburguer_toggle:checked~.hamburguer {
  position: absolute;
  right: 15px;
  top: 15px;
  background: url("/Project/assets/shared/icon-close.svg") no-repeat;
  z-index: 2;
}

header #hamburguer_nav label span {
  color: var(--white);
  position: relative;
  left: 15px;
  padding: 0 20px 0 20px;
}

header #hamburguer_nav #hamburguer_toggle:checked~.hamburguer span {
  display: none;
}

header #hamburguer_toggle {
  display: none;
}

header #hamburguer_toggle:checked~ul {
  display: block;
  opacity: 1;
  z-index: 1;
}

.range{
  width: 100%;
}

/*************************************Shortcuts Nav******************************************/

header #shortcuts_nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/*************************************Product page******************************************/
.product-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-page-container .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-page-container .interaction button {
  background-color: #D9D9D9;
  border: none;
  padding: 2%;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
}

.product-page-container .interaction button:hover {
  background-color: #D9D9;
}

.product-page-container #btn_add_car {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 8px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.product-page-container .desk-info div {
  background-color: var(--gray);
  margin: 10px;
  font-weight: bold;
  width: 100%;
}

.product-page-container .desk-info .title {
  text-align: center;
}

.product-page-container .desk-info div:last-child {
  background-color: var(--white);
  margin: 10px;
}

.product-page-container .desk-info select {
  position: relative;
  border: none;
  background-color: var(--gray);
  width: 100%;
  padding: 10px;
}

.product-page-container .desk-info .change-color{
  position: relative;
}

.product-page-container .desk-info .select-secretary{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 20px;
  z-index: 2;
}

.product-page-container .range-container{
  display: flex;
  position: relative;
  margin-top: 30px;
}

.range-container label{
  position: absolute;
  top: -25px;
  font-size: 12px;
}


/*************************************Promotion page******************************************/

.promotion-page-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1%;
}

.promotion-page-container .section, .promotion-section{
  position: relative;
}

.promotion-page-container .promotion-section .title{
  position: absolute;
  left: 10%;
  top: 15%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.promotion-page-container .promotion-section .title .a{
  position: absolute;
  top: 35%;
  color: var(--red);
}

.promotion-page-container .promotion-section .title div:last-child{
  position: absolute;
  bottom: 25%;
  color: var(--white);
}

.promotion-page-container .title{
  position: absolute;
  bottom: 0;
}

.promotion-page-container img {
  width: 100%;
  height: 90%;
}

.promotion-page-container .promotion-section img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .col {
    width: 50%;
  }

  /********************************HEADER******************************************************/
  header {
    display: grid;
    grid-template-columns: 20% auto 55% 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "logo search search shortcuts"
      "logo hamburguer_nav shortcuts_nav shortcuts_nav";
    margin: 0 5% 0 5%;
  }

  header .logo {
    grid-area: logo;
  }

  header .search {
    grid-area: search;
  }

  header #hamburguer_nav {
    grid-area: hamburguer_nav;
    justify-self: end;
    margin-right: 30px;
  }

  header #shortcuts_nav {
    grid-area: shortcuts_nav;
    justify-self: start;
  }

  header .shortcuts {
    grid-area: shortcuts;
  }

  header #hamburguer_nav ul {
    width: 30%;
  }

  header #hamburguer_nav label span {
    color: var(--white);
    position: relative;
    left: 15px;
    padding: 0 20px 0 20px;
  }

  header #hamburguer_nav #hamburguer_toggle:checked~.hamburguer {
    left: 26.5%;
    top: 30px;
  }

  header #hamburguer_nav label span {
    color: var(--white);
    position: relative;
    left: 15px;
  }

  .product-page-container {
    display: flex;
    flex-direction: row;
  }

  /*************************************Promotion page******************************************/

  .promotion-page-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 268px 268px;
    gap: 2%;
    margin: 1% 3% 0 3%;
  }

  .promotion-page-container .promotion-section {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .promotion-page-container .promotion-section img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 95%;
  }

  .promotion-page-container .promotion-page-container img {
    width: 100%;
    height: 95%;
  }
}